/spo/lab_3/lab_3.exe
/spo/lab_4/build
/parallel_prog/lab_1/lab_1
/parallel_prog/lab_2/lab_2
/parallel_prog/lab_1/file.pdf
/parallel_prog/lab_2/file.pdf
/ai/lab_1/build
/ai/new_lab_1/build
/ai/lab_2/build
/ai/lab_3/build
/ai/lab_4/build
/ai/lab_4_with_qml/build
/ai/lab_4_with_qml/CMakeLists.txt.user
/ai/lab_6_qt/build
/ai/lab_6/build
/optimization_methods/build
